@import "@/styles/mixins.scss";

.btn {
  border-radius: 16px;
  border: none;
  background: var(--blue-color);

  @include fontSizeAdaptive(20);
  color: var(--text-color);
  font-family: var(--font-secondary-bold);

  cursor: pointer;
}

.submit {
  max-width: 600px;
  width: 100%;
  height: 88px;
}
