@import "@/styles/mixins.scss";

.btn {
  border-radius: 16px;
  border: none;
  background: var(--blue-color);

  @include fontSizeAdaptive(20);
  color: var(--text-color);
  font-family: var(--font-secondary-bold);

  cursor: pointer;
}

.logIn {
  @include btnSizeAdaptive(142, 65);
}

.tryAIGenMain {
  @include btnSizeAdaptive(317, 88);
}

.tryAIGenFooter {
  @include btnSizeAdaptive(278, 65);
}

.submit {
  max-width: 600px;
  width: 100%;
  height: 88px;
}

.clothsMain {
  width: 100%;
  height: 50px;

  border-radius: 10px;
}

.clothsSecond {
  width: 100%;
  height: 42px;

  border-radius: 10px;
}
