@import "@/styles/mixins.scss";

.homePageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 50px 100px;

  @media (max-width: 1200px) {
    padding: 30px 75px;
  }

  color: var(--text-color);
  @include fontSizeAdaptive(20);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  > img {
    width: 8%;
    height: 8%;

    @media (max-width: 1500px) {
      width: 9%;
      height: 9%;
    }

    @media (max-width: 1200px) {
      width: 10%;
      height: 10%;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 50%;

  font-family: var(--font-secondary-bold);
}
