@import "@/styles/mixins.scss";

.about {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;

  width: 100%;
  gap: 20px;

  h1 {
    @include fontSizeTitleAdaptive(120);
  }

  h2 {
    @include fontSizeTitleAdaptive(60);
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @include fontSizeAdaptive(24);
    font-weight: 500;

    > p {
      text-align: center;
    }
  }

  &__imgBlock {
    position: relative;
    width: 34%;
    height: fit-content;

    img:first-child {
      width: 100%;
      height: fit-content;
    }

    &__cornerLT,
    &__cornerLB,
    &__cornerRT,
    &__cornerRB {
      position: absolute;
    }

    &__cornerLT {
      top: -20px;
      left: -20px;
    }

    &__cornerLB {
      bottom: -20px;
      left: -20px;
    }

    &__cornerRT {
      top: -20px;
      right: -20px;
    }

    &__cornerRB {
      bottom: -20px;
      right: -20px;
    }
  }
}
